*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.tauri-regular {
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.container{
    width:100%;
}  
.container .row{
    width:80%;
    margin:auto;
}
/* header */
.container .row .header{
width: 60%;
text-align: center;
margin: auto;
}
.container .row .header h1{
    padding-top: 30px;
    font-size: 45px;
    color:rgb(255, 123, 0);
}
.container .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color:#6e6e6e;
}
/* content */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.content .card{
    flex:1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px;
    background-color: #fff;

}
.content .card img{
    width: 100%;
    height: auto;
    
}
.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;

}
.content .card p{
    font-size: 15px;
    color:#6e6e6e;
    line-height: 1.5;
    padding: 10px;
}
@media screen and(max-width:768px){
    .content{flex-direction: column;}
}

